/* font-family: 'Roboto', sans-serif; */
/* 15B097, keppel
3DD6D0, Medium Turqoise
71F79F, Medium Spring Green
191919, Eerie Black*/

html, body {
    margin: 0px;
    height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 150px repeat(2, 1fr);
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
        "head head head"
        "side con con"
        "foot foot foot";
    font-family: 'Roboto', sans-serif;
}

.header {
    grid-area: head;
    background-color: #AAAE7F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar {
    grid-area: side;
    margin-left: 5px;
    height: 85%;
    width: 85%;
}

.content {
    grid-area: con;
    background-color: #D0D6B3;
}

button {
    border: 0;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    margin: 10px;
}

.setone {
    display: flex;
    align-items: flex-start;
}

.settwo {
    display: flex;
    justify-content: center;
}

textarea {
    width: calc(85%);
    height: calc(50%);
    margin-left: 10px;
    padding: 5px;
    resize: none;
}

.cancelbtn {
    background: #800E13;
}

.savebtn{
    background: #143109;
}

.notebtn{
    background: #143109;
}

.drkbtn{
    background: #575A5E;
}

.footer {
    grid-area: foot;
    background: #143109;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
        "social social"
        "icon1 icon2";
    grid-gap: 5px;
    padding-bottom: 10px;
}

.footer > h3 {
    color: white;
    grid-area: social;
    display: flex;
    justify-content: center;
}

.footer > .logo1 { 
    height: 30px;
    width: auto;
    grid-area: icon1;
    justify-self: end;
    padding: 3px;
}

.footer > .logo2 {
    height: 30px;
    width: auto;
    grid-area: icon2;
    padding: 3px;
}

.dark-mode {
    background-color: #F1E8B8;
    color: black;
}

.dark-mode-side {
    background-color: grey;
    color: white;
}

.dark-mode-body {
    background-color: grey;
}

.dark-mode-content {
    background-color: #191919;
}

.dark-mode-textarea {
    background-color: grey;
    color: white;
}

.dark-mode-buttons {
    background-color: #39372D;
}

@media screen and (max-width: 800px){
    .container {
        height: 100%;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100px 100px 1fr 100px;
        grid-template-areas:
            "head head head"
            "side side side"
            "con con con"
            "foot foot foot";
    }
}

